[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
wheel = "*"
setuptools = "*"
acryl-datahub = {extras = ["glue"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
